<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
    <resultMap id="itemCategory" type="com.celestegreen.chatTest.item.vo.ItemCategoryVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <select id="selectItemCateList" resultMap="itemCategory">
        select
            cate_code ,
            cate_name
        from
            item_category
    </select>

</mapper>

























