<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <!-- 테이블 들어감 -->
            <table class="table table-success table-striped text-center">
                <colgroup>
                    <col width="15%">
                    <col width="25%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <td>No</td>
                        <td>상품코드</td>
                        <td>상품명</td>
                        <td>재고</td>
                        <td>상태</td>
                    </tr>
                </thead>

                <tbody>
                    <th:block th:each="e,state:${itemList}">
                        <tr class="table-primary" th:onclick="updateItemForm([[${e.itemCode}]])">
                            <td>[[${#lists.size(itemList)-state.index}]]</td>
                            <td>[[${e.itemCode}]]</td>
                            <td>[[${e.itemName}]]</td>
                            <td>[[${e.itemStock}]]</td>
                            <td>
                                <th:block th:if="${e.itemStatus == 1}">
                                    준비중
                                </th:block>
                                <th:block th:if="${e.itemStatus == 2}">
                                    판매중
                                </th:block>
                                <th:block th:if="${e.itemStatus == 3}">
                                    매진
                                </th:block>
                            </td>
                        </tr>
                    </th:block>
                </tbody>

            </table>
        </div>
        <div class="col" id="update-item-form">
            <div class="row">
                <div class="col">
                    <!-- 상품 기본정보 -->
                    <div class="row">
                        <div class="col">
                            <h1>상품 기본 정보</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <!-- 카테고리명 -->
                            카테고리
                        </div>
                        <div class="col-6">
                            <select class="form-select" id="select-item-cate">
                                <option th:value="${e.cateCode}" th:each="e:${cateList}">[[${e.cateName}]]</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <!-- 상품명 -->
                            상품명
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="select-item-name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <!-- 상품수량 -->
                            상품 수량
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="select-item-stock">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <!-- 상품상태 -->
                            상품 상태
                        </div>
                        <div class="col-6">
                            <!-- 라디오 버튼 -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="select-item-ready">
                                        <label class="form-check-label" for="flexRadioDefault">
                                            준비중
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="select-item-sale">
                                        <label class="form-check-label" for="flexRadioDefault">
                                            판매중
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="select-item-notready">
                                        <label class="form-check-label" for="flexRadioDefault">
                                            매진
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h1>상품 이미지 정보</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <!-- 메인이미지  -->
                            메인 이미지
                        </div>
                        <div class="col-6" id="select-item-main-img">
                            메인이미지.jpg
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            상세이미지/
                        </div>
                        <div class="col-6" id="select-item-detail-img">
                            상세이미지.jpg
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-2">
                    <input type="button" class="btn btn-primary" value="변경">
                </div>
            </div>


            <!-- Button trigger modal
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button> -->

            <!-- Modal -->
            <div class="modal fade" id="img-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="img-modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <script>
        function updateItemForm(itemCode) {
            let selectItemCate = document.querySelector("#select-item-cate");
            let selectItemName = document.querySelector("#select-item-name");
            let selectItemStockTag = document.querySelector("#select-item-stock");

            let selectItemReadyTag = document.querySelector("#select-item-ready");
            let selectItemSaleTag = document.querySelector("#select-item-sale");
            let selectItemNotReadyTag = document.querySelector("#select-item-notready");

            let selectItemMainImgTag = document.querySelector("#select-item-main-img");
            let selectItemDetailImgTag = document.querySelector("#select-item-detail-img");


            fetch('/admin/updateItem', { //요청경로
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                //컨트롤러로 전달할 데이터
                body: new URLSearchParams({
                    // 데이터명 : 데이터값
                    itemCode: itemCode
                })
            })
                .then((response) => {
                    if (!response.ok) {
                        alert('fetch error!\n컨트롤러로 통신중에 오류가 발생했습니다.');
                        return;
                    }

                    //return response.text(); //컨트롤러에서 return하는 데이터가 없거나 int, String 일 때 사용
                    return response.json(); //나머지 경우에 사용
                })
                //fetch 통신 후 실행 영역
                .then((data) => {//data -> controller에서 리턴되는 데이터!
                    console.log(data)
                    //상품 이름
                    selectItemName.value = data.itemName;
                    //상품 수량
                    selectItemStockTag.value = data.itemStock;

                    //카테고리
                    let cateCode = data.itemCategoryVO.cateCode;
                    console.log(cateCode);
                    cateTags = selectItemCate.children;
                    for (let tag of cateTags) {
                        console.log(tag.value)
                        if (tag.value == cateCode) {
                            tag.selected = true;
                        }
                    }


                    selectItemMainImgTag.innerHTML = '';
                    selectItemDetailImgTag.innerHTML = '';


                    //상태 정보
                    let str = data.itemStatus;
                    console.log(str)
                    if (str == 1) {
                        str = '준비중'
                        selectItemReadyTag.checked = true;
                    } else if (str == 2) {
                        str = '판매중'
                        selectItemSaleTag.checked = true;
                    } else if (str == 3) {
                        str = '매진';
                        selectItemNotReadyTag.checked = true;
                    }


                    //이미지 파트
                    let imgName = ``;
                    let img2Name = ``;

                    for (let e of data.itemImageList) {

                        if (e.isMain == 'Y') {
                            let str = e.attachedFileName.replace(".jpg", "")
                            imgName = `
                                <p onclick='imgModal(${e.imgCode})'>${e.origenFileName}</p>
                            `
                             
                        }
                        if (e.isMain == 'N') {
                            let str = e.attachedFileName.replace(".jpg", "")
                            img2Name = `
                                <p onclick='imgModal(${e.imgCode})'>${e.origenFileName}</p>
                            `
                            ;
                        }
                    }

                    console.log(imgName);
                    console.log(img2Name);

                    console.log(selectItemMainImgTag);
                    console.log(selectItemDetailImgTag);
                    
                    selectItemMainImgTag.innerHTML= imgName
                    selectItemDetailImgTag.innerHTML= img2Name

                    //let img_modal = new bootstrap.Modal('#img-modal');
                    //모달 열기
                    // buy_detail_modal.show();
                    // //모달 닫기
                    // buy_detail_modal.hide();



                })
                //fetch 통신 실패 시 실행 영역
                .catch(err => {
                    alert('fetch error!\nthen 구문에서 오류가 발생했습니다.\n콘솔창을 확인하세요!');
                    console.log(err);
                });

        }
    
        function imgModal(imgCode){
            let str = attachedFileName + '.jpg';
            imgModalBodyTag = document.querySelector('#img-modal-body');
            imgModalBodyTag.innerHTML='';

            let img_modal = new bootstrap.Modal('#img-modal');
            //모달 열기
            let str1 = `
                <img src="/upload/${str}"
                        class="rounded float-end" alt="햄스타" width="50%">
            `
            imgModalBodyTag.insertAdjacentHTML("afterbegin",str1);

            img_modal.show();
                    // //모달 닫기
                    // buy_detail_modal.hide();
        }

    </script>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>