<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>

<style>
    div{
        margin-bottom: 16px;
    }
</style>
</head>
<body>
    <h1>메인화면 입니다.!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <div>
        <input type="button" value="VO객체로 데이터 받기 1" onclick="fetch1()">
    </div>
    <div>
        <input type="button" value="map을 사용해서 데이터 전달 받기 2" onclick="fetch2()">
    </div>
    <div>
        <input type="button" value="배열 데이터 list 받기 3" onclick="fetch3()">
    </div>

    <div>
        <input type="button" value="데이터 받기 4" onclick="fetch4()">
    </div>

    <script src="/js/test/fetch.js">



    </script>
    
</body>
</html>