<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
    <style>
        .container{
            width: 650px;
            margin: 0 auto;
        }
        table{
            border: 1px;
            width : 100%;
            border-collapse: collapse;
        }
        tr,td{
            border: 1px;
        }
        .btn-div{
        margin-top: 16px;
        text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/board/write" method="post">
            <table>
                <tr>
                    <td>제목</td>
                    <td><input type="text" name="title" v></td>
                </tr>
                
                <tr>
                    <td>내용</td>
                    <td><textarea name="content" cols="30" rows="10"></textarea></td>
                </tr>
            </table>
            <div>
                <input type="hidden" name="writer"th:value="${session.loginInfo.memberID}">
                <input type="submit" value="글쓰기">
            </div>
        </form>
    </div>
</body>
</html>