<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/carManagement_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->

    <div class="row ">
        <div class="col">
            <div class="row m-3">
                <div class="col-2">
                    -차량등록
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table text-center table-borderless">
                        <form action="/goReg" method="post" id="reg-Form">
                            <colgroup>
                                <col width="13%">
                                <col width="20%">
                                <col width="13%">
                                <col width="20%">
                                <col width="13%">
                                <col width="*">
                            </colgroup>

                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            제조사
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <select name="modelManufacturer" id="modelManufacturer" class="form-select">
                                                <option value="현대">현대</option>
                                                <option value="기아">기아</option>
                                                <option value="쌍용">쌍용</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            모델명
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" name="modelName" id="model-name" class="form-control">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            차량가격
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row d-grid">
                                        <div class="col">
                                            <input type="text" name="modelPrice" id="model-price" class="form-control">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>

            <div class="row justify-content-end mt-3">
                <div class="col-2 d-grid">
                    <input type="button" class="btn btn-success" onclick="startReg()" value="등록">
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- 차량 목록 -->
        <div class="row m-3">
            <div class="col">
                -차량 목록
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered text-center">
                    <colgroup>
                        <col width="20%">
                        <col width="30%">
                        <col width="50%">
                    </colgroup>
                    <thead class="table-success">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        모델번호
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        모델명
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        제조사
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 여기다가 tblock으로 반복시킬것 -->
                        <th:block th:if="${!#lists.isEmpty(carList)}">
                            <th:block th:each="e:${carList}">
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                [[${e.modelNum}]]
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                [[${e.modelName}]]
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                [[${e.modelManufacturer}]]
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function startReg() {
            //안에 값이 비어있는지 체크
            //모델명
            const car_model_teg = document.querySelector("#model-name")
            //차량가격
            const car_price_tag = document.querySelector("#model-price");
            if ((car_model_teg.value == '') & (car_price_tag.value == '')) {
                alert("모델명과 차량가격이 비어있습니다.")
                return;
            }

            if (car_model_teg.value == '') {
                alert("모델명이 비어있습니다.")
                return;
            }
            if (car_price_tag.value == '') {
                alert("차량가격이 비어있습니다.")
                return;
            }
            //숫자만 입력받도록 하는 정규식
            let check = /^[0-9]+$/;
            if (!check.test(car_price_tag.value)){
                alert("숫자만 입력 가능합니다.");
                return;
            }
            

            //form에 있는 내용을 submmit해야함
            const regBtn = document.querySelector("#reg-Form")
            regBtn.submit();
        }
    </script>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>